---
// imports
import SiteLayout from "@/layouts/SiteLayout.astro";
---

<SiteLayout title="About Us">
  <section class="py-20 px-4 bg-gradient-to-tr from-prish-200/80">
    <div class="my-6">
      <h1
        class="text-4xl md:text-6xl underline text-center underline-offset-8 text-prish-300 decoration-wavy"
      >
        About Our Organization
      </h1>
    </div>
    <div class="flex w-full items-center justify-center my-10">
      <img
        src="/logo.png"
        alt="Femprish"
        class="rounded-full bg-prish-100/70 md:scale-90 scale-75"
      />
    </div>
    <div class="text-xl mx-3 tracking-wider leading-7 my-10 px-3">
      Welcome to Femrpish, a passionate and forward-thinking NGO dedicated to
      advancing feminism and championing gender equality. At Femrpish, we firmly
      believe in the power of collective action and are committed to creating a
      world where all individuals, regardless of their gender, have equal
      opportunities and rights.
      <br />
      Our Vision: Our vision is a future where every person can live without fear
      of discrimination, where gender-based biases and stereotypes are dismantled,
      and where diversity and inclusivity are celebrated. We aspire to break down
      barriers and challenge systemic injustices that hinder the progress of women
      and marginalized genders.
      <br />
      Our Mission: Femrpish's mission is to foster an inclusive environment that
      promotes gender equality through advocacy, education, and empowerment. We work
      tirelessly to empower women and marginalized genders, providing them with the
      tools, resources, and support they need to thrive in all aspects of life. We
      believe that when we elevate the status of women and marginalized genders,
      we elevate society as a whole.
      <br />
      What Sets Us Apart: At Femrpish, our approach is rooted in empathy, respect,
      and intersectionality. We recognize the unique challenges faced by individuals
      of different backgrounds and identities, and we strive to address these complexities
      in our initiatives. Our organization is driven by passionate individuals from
      diverse fields, united by a common goal: to create positive change and build
      a more just and equitable world.
      <br />
      Join Us: Together, we can create meaningful and lasting impact. Join us in
      our mission to challenge gender norms, empower marginalized communities, and
      advocate for a society where feminism and equality are embraced. Whether you
      volunteer your time, offer your skills, or support us with a donation, your
      involvement strengthens our movement and paves the way for a brighter future
      for all. Let's stand together, hand in hand, as we pave the path towards gender
      equality and a world free from discrimination.
    </div>
  </section>
</SiteLayout>

